<%- include("template/cabecera", {tituloweb: 'Pagina de Producto'})%>
<link rel="stylesheet" href="./css/producto.css">

    <div class="container">
        <h3 class="title">Lista de Productos</h3>
        <div class="products-container">
            <div class="product" data-name="p-1">
                <img src="./img/Producto/colagsureflex.jpg" alt="">
                <h3>Collagsure Flex 500G</h3>
                <div class="price">S/15.00</div>
            </div>

            <div class="product" data-name="p-2">
                <img src="./img/Producto/colagsurepuro500g.jpg" alt="">
                <h3>Collagsure Puro 500G</h3>
                <div class="price">S/15.00</div>
            </div>

            <div class="product" data-name="p-3">
                <img src="./img/Producto/colagsureq10.jpg" alt="">
                <h3>Collagsure-Q10 500G</h3>
                <div class="price">S/15.00</div>
            </div>

            <div class="product" data-name="p-4">
                <img src="./img/Producto/collagsure.jpg" alt="">
                <h3>Collagsure Arandano 320G</h3>
                <div class="price">S/15.00</div>
            </div>

            <div class="product" data-name="p-5">
                <img src="./img/Producto/detox.jpg" alt="">
                <h3>DetoxSure 300G</h3>
                <div class="price">S/15.00</div>
            </div>

            <div class="product" data-name="p-6">
                <img src="./img/Producto/fibrasure500g.jpg" alt="">
                <h3>FibraSure 500G</h3>
                <div class="price">S/15.00</div>
            </div>

            <div class="product" data-name="p-7">
                <img src="./img/Producto/geriasure1k.jpg" alt="">
                <h3>Geriasure 1K</h3>
                <div class="price">S/15.00</div>
            </div>

            <div class="product" data-name="p-8">
                <img src="./img/Producto/geriasurediabet1k.jpg" alt="">
                <h3>Geriasure Diabet 1K</h3>
                <div class="price">S/15.00</div>
            </div>

            <div class="product" data-name="p-9">
                <img src="./img/Producto/hierroSure.jpg" alt="">
                <h3>HierroSure 90G</h3>
                <div class="price">S/15.00</div>
            </div>

            <div class="product" data-name="p-10">
                <img src="./img/Producto/madresurecap.jpg" alt="">
                <h3>Madresure 100CPS</h3>
                <div class="price">S/15.00</div>
            </div>

            <div class="product" data-name="p-11">
                <img src="./img/Producto/magnesure150g.jpg" alt="">
                <h3>Magnesure 150G</h3>
                <div class="price">S/15.00</div>
            </div>

            <div class="product" data-name="p-12">
                <img src="./img/Producto/visionsure300g.jpg" alt="">
                <h3>Visionsure 300G</h3>
                <div class="price">S/15.00</div>
            </div>

            <div class="product" data-name="p-13">
                <img src="./img/Producto/visionsurecap.jpg" alt="">
                <h3>Visionsure 100CPS</h3>
                <div class="price">S/15.00</div>
            </div>

            <div class="product" data-name="p-14">
                <img src="./img/Producto/vitacsure200g.png" alt="">
                <h3>Vita-C sure 200G</h3>
                <div class="price">S/15.00</div>
            </div>

            <div class="product" data-name="p-15">
                <img src="./img/Producto/vitacsurecaja.jpg" alt="">
                <h3>Vita-C sure Caja x 30 Sachets</h3>
                <div class="price">S/15.00</div>
            </div>
        </div>
    </div>
    <div class="products-preview">
        <div class="preview" data-target="p-1">
            <i class="fas fa-times"></i>
            <img src="./img/Producto/colagsureflex.jpg" alt="">
            <h3>Collagsure Flex 500G</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="price">S/15.00</div>
            <div class="buttons">
                <a href="#" class="buy">Buy now</a>
                <a href="#" class="cart">add to cart</a>
            </div>
        </div>

        <div class="preview" data-target="p-2">
            <i class="fas fa-times"></i>
            <img src="./img/Producto/colagsurepuro500g.jpg" alt="">
            <h3>Collagsure Flex 500G</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="price">S/15.00</div>
            <div class="buttons">
                <a href="#" class="buy">Buy now</a>
                <a href="#" class="cart">add to cart</a>
            </div>
        </div>

        <div class="preview" data-target="p-3">
            <i class="fas fa-times"></i>
            <img src="./img/Producto/colagsureq10.jpg" alt="">
            <h3>Collagsure Flex 500G</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="price">S/15.00</div>
            <div class="buttons">
                <a href="#" class="buy">Buy now</a>
                <a href="#" class="cart">add to cart</a>
            </div>
        </div>

        <div class="preview" data-target="p-4">
            <i class="fas fa-times"></i>
            <img src="./img/Producto/collagsure.jpg" alt="">
            <h3>Collagsure Flex 500G</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="price">S/15.00</div>
            <div class="buttons">
                <a href="#" class="buy">Buy now</a>
                <a href="#" class="cart">add to cart</a>
            </div>
        </div>

        <div class="preview" data-target="p-5">
            <i class="fas fa-times"></i>
            <img src="./img/Producto/detox.jpg" alt="">
            <h3>Collagsure Flex 500G</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="price">S/15.00</div>
            <div class="buttons">
                <a href="#" class="buy">Buy now</a>
                <a href="#" class="cart">add to cart</a>
            </div>
        </div>

        <div class="preview" data-target="p-6">
            <i class="fas fa-times"></i>
            <img src="./img/Producto/fibrasure500g.jpg" alt="">
            <h3>Collagsure Flex 500G</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="price">S/15.00</div>
            <div class="buttons">
                <a href="#" class="buy">Buy now</a>
                <a href="#" class="cart">add to cart</a>
            </div>
        </div>

        <div class="preview" data-target="p-7">
            <i class="fas fa-times"></i>
            <img src="./img/Producto/geriasure1k.jpg" alt="">
            <h3>Collagsure Flex 500G</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="price">S/15.00</div>
            <div class="buttons">
                <a href="#" class="buy">Buy now</a>
                <a href="#" class="cart">add to cart</a>
            </div>
        </div>

        <div class="preview" data-target="p-8">
            <i class="fas fa-times"></i>
            <img src="./img/Producto/geriasurediabet1k.jpg" alt="">
            <h3>Collagsure Flex 500G</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="price">S/15.00</div>
            <div class="buttons">
                <a href="#" class="buy">Buy now</a>
                <a href="#" class="cart">add to cart</a>
            </div>
        </div>

        <div class="preview" data-target="p-9">
            <i class="fas fa-times"></i>
            <img src="./img/Producto/hierroSure.jpg" alt="">
            <h3>Collagsure Flex 500G</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="price">S/15.00</div>
            <div class="buttons">
                <a href="#" class="buy">Buy now</a>
                <a href="#" class="cart">add to cart</a>
            </div>
        </div>

        <div class="preview" data-target="p-10">
            <i class="fas fa-times"></i>
            <img src="./img/Producto/madresurecap.jpg" alt="">
            <h3>Collagsure Flex 500G</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="price">S/15.00</div>
            <div class="buttons">
                <a href="#" class="buy">Buy now</a>
                <a href="#" class="cart">add to cart</a>
            </div>
        </div>

        <div class="preview" data-target="p-11">
            <i class="fas fa-times"></i>
            <img src="./img/Producto/magnesure150g.jpg" alt="">
            <h3>Collagsure Flex 500G</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="price">S/15.00</div>
            <div class="buttons">
                <a href="#" class="buy">Buy now</a>
                <a href="#" class="cart">add to cart</a>
            </div>
        </div>

        <div class="preview" data-target="p-12">
            <i class="fas fa-times"></i>
            <img src="./img/Producto/visionsure300g.jpg" alt="">
            <h3>Collagsure Flex 500G</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="price">S/15.00</div>
            <div class="buttons">
                <a href="#" class="buy">Buy now</a>
                <a href="#" class="cart">add to cart</a>
            </div>
        </div>

        <div class="preview" data-target="p-13">
            <i class="fas fa-times"></i>
            <img src="./img/Producto/visionsurecap.jpg" alt="">
            <h3>Collagsure Flex 500G</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="price">S/15.00</div>
            <div class="buttons">
                <a href="#" class="buy">Buy now</a>
                <a href="#" class="cart">add to cart</a>
            </div>
        </div>

        <div class="preview" data-target="p-14">
            <i class="fas fa-times"></i>
            <img src="./img/Producto/vitacsure200g.png" alt="">
            <h3>Collagsure Flex 500G</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="price">S/15.00</div>
            <div class="buttons">
                <a href="#" class="buy">Buy now</a>
                <a href="#" class="cart">add to cart</a>
            </div>
        </div>

        <div class="preview" data-target="p-15">
            <i class="fas fa-times"></i>
            <img src="./img/Producto/vitacsurecaja.jpg" alt="">
            <h3>Collagsure Flex 500G</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>( 250 )</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="price">S/15.00</div>
            <div class="buttons">
                <a href="#" class="buy">Buy now</a>
                <a href="#" class="cart">add to cart</a>
            </div>
        </div>

    </div>

<!-- js  -->
<script src="./js/producto_Front.js" defer></script>
</body>
</html>