<div class="barra" id="mybarra">
    <div>
        <img src="./img/AltaredGroup.png" alt="" width="200" height="auto">
    </div>
    <div>
        <a href="/rusuario" class="active">Usuarios</a>
        <a href="/rproducto">Productos</a>
        <a href="/rproveedor">Proveedores</a>
        <a href="/rcliente">Clientes</a>
        <a href="/rventa">Ventas</a>
        <a href="/rpedido">Pedidos</a>
        <a href="/rcategoria">Categorías</a>
        <a href="/login">Cerrar Sesión</a>
        <a href="/">Tienda Online</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>        
</div>