<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/standar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <%- include("template/navbar_Facturacion", {tituloweb: 'Registro de Ventas'})%>
    </header>
    
    <div class="box-title">
        <h1>Venta Productos</h1>
    </div>
    <div id="divFrmProducto" class="divFormulario">
        <div class="padding-horizontal--48">
           
            <form action="#" enctype="multipart/form-data">
                <input type="text" id="txtId" name="txtId" hidden>
                <div class="campos padding-top--24">
                    <label for="txtNombre">Usuario :</label>
                    <input type="text" id="txtNombre" name="txtNombre" placeholder="Nombre del Producto" required />
                </div>
                <div class="campos padding-top--24">
                    <label for="txtCodigo">Codigo :</label>
                    <input type="text" id="txtCodigo" name="txtCodigo" placeholder=""required />
                </div>
                <div class="campos padding-top--24">
                    <label for="txtProducto">Producto :</label>
                    <input type="text" id="txtProducto" name="txtProducto" placeholder=""required />
                </div>
                <div class="campos padding-top--24">
                    <label for="txtPrecioP">PrecioProducto:</label>
                    <input type="number" id="txtPrecioP" name="txtPrecioP" placeholder=""required />
                </div>
                <div class="campos padding-top--24">
                    <label for="txtPrecioT">PrecioTotal :</label>
                    <input type="number" id="txtPrecioT" name="txtPrecioT" placeholder=""required />
                </div>
                <div class="campos campos-checkbox padding-top--24">
                    <label for="cboEstado">
                        <input type="checkbox" id="chkEstado" name="chkEstado"> Estado
                    </label>
                </div>
               
                
                <div id="grabar" class="campos padding-top--24">
                    <input type="button" id="btnGrabar" onclick="guardarVenta();" value="GRABAR">
                </div>
                <div id="actualizar" class="campos padding-top--24">
                    <input type="button" id="btnActualizar" onclick="actualizarVenta();" value="ACTUALIZAR" hidden>
                </div>            
            </form>
        </div>
    </div>
    <div id="divTblVenta" class="divTabla">
        <label for="chkEliminados">
            <input type="checkbox" id="chkEliminados" name="chkEliminados" onclick="listarVenta()"> MOSTRAR ELIMINADOS
        </label>
        <table id="tblListaVenta" class="tbmListado">
            <thead id="tblHeadVenta">
                <tr>
                    <th>ID</th>
                    <th>Codigo</th>
                    <th>Producto</th>
                    <th>PrecioProducto</th>
                    <th>PrecioTotal</th>
                    <th>Estado</th>
                    <th colspan="2">ACCIONES</th>
                </tr>
            </thead>
            <tbody id="tblBodyVenta">
            </tbody>
        </table>
    </div>

    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
            x.className += " responsive";
            } else {
            x.className = "topnav";
            }
        }
    </script>
    <script type="text/javascript" src="./js/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="./js/venta.js"></script>
</body>

</html>